name: tv_plus
description: "Smart TV toolkit"
version: 0.0.1
homepage:

environment:
  sdk: ^3.9.2
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2
  flutter_svg: ^2.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
  build_runner: ^2.4.15
  flutter_gen_runner: ^5.11.0
  flutter_pre_commit: ^0.2.4

flutter:
  generate: true
  assets:
    - assets/icons/
  plugin:
    platforms:
      android:
        package: com.paranid5.tv_plus
        pluginClass: TvPlusPlugin

flutter_gen:
  output: lib/assets/
  integrations:
    flutter_svg: true
